Datasets

https://www.kaggle.com/code/dataranch/offensive-stats-eda-model-comparison/input

https://www.kaggle.com/datasets/philiphyde1/nfl-stats-1999-2022/data

https://www.kaggle.com/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/data

Combide Data

In [71]:
print(offensive_data.columns)

Index(['game_id', 'player_id', 'position ', 'player', 'team', 'pass_cmp',
       'pass_att', 'pass_yds', 'pass_td', 'pass_int', 'pass_sacked',
       'pass_sacked_yds', 'pass_long', 'pass_rating', 'rush_att', 'rush_yds',
       'rush_td', 'rush_long', 'targets', 'rec', 'rec_yds', 'rec_td',
       'rec_long', 'fumbles_lost', 'rush_scrambles', 'designed_rush_att',
       'comb_pass_rush_play', 'comb_pass_play', 'comb_rush_play',
       'Team_abbrev', 'Opponent_abbrev', 'two_point_conv', 'total_ret_td',
       'offensive_fumble_recovery_td', 'pass_yds_bonus', 'rush_yds_bonus',
       'rec_yds_bonus', 'Total_DKP', 'Off_DKP', 'Total_FDP', 'Off_FDP',
       'Total_SDP', 'Off_SDP', 'pass_target_yds', 'pass_poor_throws',
       'pass_blitzed', 'pass_hurried', 'rush_yds_before_contact', 'rush_yac',
       'rush_broken_tackles', 'rec_air_yds', 'rec_yac', 'rec_drops', 'offense',
       'off_pct', 'vis_team', 'home_team', 'vis_score', 'home_score', 'OT',
       'Roof', 'Surface', 'Temperature', 'Humidity', 'Wind_Speed',
       'Vegas_Line', 'Vegas_Favorite', 'Over_Under', 'game_date'],
      dtype='object')

In [74]:
# Check if a specific column exists
column_name = 'player'  # replace with the column you're searching for

if column_name in offensive_data.columns:
    print(f"'{column_name}' column exists in the DataFrame.")
else:
    print(f"'{column_name}' column does not exist in the DataFrame.")

'player' column exists in the DataFrame.

In [69]:
print(kaggle_combined_data1.columns)

Index(['team', 'season', 'total_snaps', 'yards_gained', 'touchdown',
       'extra_point_attempt', 'field_goal_attempt', 'total_points',
       'td_points', 'xp_points',
       ...
       'vacated_receptions', 'vacated_receiving_yards',
       'vacated_receiving_air_yards', 'vacated_yards_after_catch',
       'vacated_reception_td', 'vacated_rush_attempts',
       'vacated_rushing_yards', 'vacated_run_td', 'vacated_touches',
       'vacated_total_yards'],
      dtype='object', length=236)

In [70]:
# Check if a specific column exists
column_name = 'player_name'  # replace with the column you're searching for

if column_name in kaggle_combined_data1.columns:
    print(f"'{column_name}' column exists in the DataFrame.")
else:
    print(f"'{column_name}' column does not exist in the DataFrame.")

'player_name' column exists in the DataFrame.

In [73]:
column_name = 'displayName'  # replace with the column you're searching for

if column_name in kaggle_combined_data2.columns:
    print(f"'{column_name}' column exists in the DataFrame.")
else:
    print(f"'{column_name}' column does not exist in the DataFrame.")

'displayName' column exists in the DataFrame.

In [77]:
import pandas as pd
import kagglehub
import os 

# Load data from GitHub
github_url = "https://raw.githubusercontent.com/salomerivas/app-development/refs/heads/main/nfl_offensive_stats.csv"

try:
    offensive_data = pd.read_csv(github_url)
    print("Data loaded successfully from GitHub.")
except Exception as e:
    print("Failed to load data from GitHub:", e)

# Fetch data from the first Kaggle API (first dataset)
try:
    path1 = kagglehub.dataset_download("philiphyde1/nfl-stats-1999-2022")  # Downloads the first Kaggle dataset
    print("Data downloaded from Kaggle to:", path1)
except Exception as e:
    print(f"Failed to download data from Kaggle: {e}")
   
downloaded_files1 = os.listdir(path1)

dataframes1 = []

for file_name in downloaded_files1:
    # Skip non-CSV files like .DS_Store
    if not file_name.endswith('.csv'):
        print(f"Skipping non-CSV file: {file_name}")
        continue
    
    file_path = os.path.join(path1, file_name)
    try:
        df = pd.read_csv(file_path)
        dataframes1.append(df)
        print(f"Data loaded successfully from: {file_path}")
    except Exception as e:
        print(f"Failed to load data from {file_path}: {e}")

# Combine all dataframes from the first Kaggle dataset into one
if dataframes1:
    try:
        kaggle_combined_data1 = pd.concat(dataframes1, ignore_index=True)
        print("All data from first Kaggle dataset combined successfully.")
    except Exception as e:
        print(f"Failed to combine first Kaggle dataset: {e}")
else:
    print("No data from first Kaggle dataset available to combine.")

# Fetch data from the second Kaggle API (second dataset)
try:
    path2 = kagglehub.dataset_download("aryashah2k/beginners-sports-analytics-nfl-dataset")  # Downloads the second Kaggle dataset
    print("Data downloaded from Kaggle to:", path2)
except Exception as e:
    print(f"Failed to download data from Kaggle: {e}")
   
downloaded_files2 = os.listdir(path2)

dataframes2 = []

for file_name in downloaded_files2:
    # Skip non-CSV files like .DS_Store
    if not file_name.endswith('.csv'):
        print(f"Skipping non-CSV file: {file_name}")
        continue
    
    file_path = os.path.join(path2, file_name)
    try:
        df = pd.read_csv(file_path)
        dataframes2.append(df)
        print(f"Data loaded successfully from: {file_path}")
    except Exception as e:
        print(f"Failed to load data from {file_path}: {e}")

# Combine all dataframes from the second Kaggle dataset into one
if dataframes2:
    try:
        kaggle_combined_data2 = pd.concat(dataframes2, ignore_index=True)
        print("All data from second Kaggle dataset combined successfully.")
    except Exception as e:
        print(f"Failed to combine second Kaggle dataset: {e}")
else:
    print("No data from second Kaggle dataset available to combine.")

# Combine the GitHub data with both Kaggle datasets (if all are available)
if 'offensive_data' in locals() and 'kaggle_combined_data1' in locals() and 'kaggle_combined_data2' in locals():
    try:
        # Combine the data from all sources
        df = pd.concat([offensive_data, kaggle_combined_data1, kaggle_combined_data2], ignore_index=True)
        print("All data combined successfully from GitHub and both Kaggle datasets.")
        print(df.head())  # Display the first few rows of the combined data
    except Exception as e:
        print(f"Failed to combine data from GitHub and Kaggle: {e}")
else:
    print("No data available for combining from one or more sources.")

Data loaded successfully from GitHub.
Data downloaded from Kaggle to: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/yearly_team_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_player_data.csv
Skipping non-CSV file: .DS_Store
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/2024_player_predictions.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/yearly_player_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_team_data.csv
All data from first Kaggle dataset combined successfully.
Data downloaded from Kaggle to: /Users/salomerivas/.cache/kagglehub/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/versions/1
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/versions/1/plays.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/versions/1/week_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/versions/1/players.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/aryashah2k/beginners-sports-analytics-nfl-dataset/versions/1/games.csv
All data from second Kaggle dataset combined successfully.
All data combined successfully from GitHub and both Kaggle datasets.
        game_id player_id position                     player team  pass_cmp  \
0  201909050chi  RodgAa00        QB             Aaron Rodgers  GNB      18.0
1  201909050chi  JoneAa00        RB               Aaron Jones  GNB       0.0
2  201909050chi  ValdMa00        WR  Marquez Valdes-Scantling  GNB       0.0
3  201909050chi  AdamDa01        WR             Davante Adams  GNB       0.0
4  201909050chi  GrahJi00        TE              Jimmy Graham  GNB       0.0

   pass_att  pass_yds  pass_td  pass_int  ...  jerseyNumber  frameId  \
0      30.0     203.0      1.0       0.0  ...           NaN      NaN
1       0.0       0.0      0.0       0.0  ...           NaN      NaN
2       0.0       0.0      0.0       0.0  ...           NaN      NaN
3       0.0       0.0      0.0       0.0  ...           NaN      NaN
4       0.0       0.0      0.0       0.0  ...           NaN      NaN

   playDirection  route  birthDate  collegeName  gameDate  gameTimeEastern  \
0            NaN    NaN        NaN          NaN       NaN              NaN
1            NaN    NaN        NaN          NaN       NaN              NaN
2            NaN    NaN        NaN          NaN       NaN              NaN
3            NaN    NaN        NaN          NaN       NaN              NaN
4            NaN    NaN        NaN          NaN       NaN              NaN

   homeTeamAbbr  visitorTeamAbbr
0           NaN              NaN
1           NaN              NaN
2           NaN              NaN
3           NaN              NaN
4           NaN              NaN

[5 rows x 349 columns]

In [78]:
df

,game_id,player_id,position,player,team,pass_cmp,pass_att,pass_yds,pass_td,pass_int,...,jerseyNumber,frameId,playDirection,route,birthDate,collegeName,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr
0,201909050chi,RodgAa00,QB,Aaron Rodgers,GNB,18.0,30.0,203.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201909050chi,JoneAa00,RB,Aaron Jones,GNB,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201909050chi,ValdMa00,WR,Marquez Valdes-Scantling,GNB,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201909050chi,AdamDa01,WR,Davante Adams,GNB,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201909050chi,GrahJi00,TE,Jimmy Graham,GNB,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12/30/2018,16:25:00,DEN,LAC
1036274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12/30/2018,16:25:00,SEA,ARI
1036275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12/30/2018,16:25:00,LA,SF
1036276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2018,16:30:00,TEN,WAS
1036277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12/22/2018,20:20:00,LAC,BAL

Overview of the Dataset

In [ ]:
import pandas as pd

# Check the shape
print("Dataset Shape:", df.shape)

print(df.head())

print(df.tail())

# List the column names
print(df.columns)

# Check data types for each column
print(df.dtypes)

Dataset Shape: (253, 6)
       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1
         gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
248  2018123013  12/30/2018        16:25:00          DEN             LAC    17
249  2018123015  12/30/2018        16:25:00          SEA             ARI    17
250  2018123014  12/30/2018        16:25:00           LA              SF    17
251  2018122200  12/22/2018        16:30:00          TEN             WAS    16
252  2018122201  12/22/2018        20:20:00          LAC             BAL    16
Index(['gameId', 'gameDate', 'gameTimeEastern', 'homeTeamAbbr',
       'visitorTeamAbbr', 'week'],
      dtype='object')
gameId              int64
gameDate           object
gameTimeEastern    object
homeTeamAbbr       object
visitorTeamAbbr    object
week                int64
dtype: object

Statistics

In [35]:
# Summary statistics for numerical columns
print(df.describe())

# Summary statistics for categorical columns
print(df.describe(include=['object']))

/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/numpy/_core/_methods.py:53: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/Users/salomerivas/Desktop/COMILLAS/APP DEVELOPMENT FOLDER/Project/venv/lib/python3.12/site-packages/numpy/_core/_methods.py:53: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

           pass_cmp      pass_att      pass_yds       pass_td      pass_int  \
count  19973.000000  19973.000000  19973.000000  83243.000000  19973.000000
mean       1.844240      2.860011     20.565513      0.519539      0.064988
std        6.294815      9.659786     70.841227      2.649633      0.336662
min        0.000000      0.000000     -2.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max       47.000000     68.000000    525.000000     57.000000      5.000000

        pass_sacked  pass_sacked_yds     pass_long   pass_rating  \
count  19973.000000     19973.000000  19973.000000  19973.000000
mean       0.192059         1.299354      3.401742      9.026606
std        0.789580         5.613713     11.543382     28.645285
min        0.000000         0.000000     -2.000000      0.000000
25%        0.000000         0.000000      0.000000      0.000000
50%        0.000000         0.000000      0.000000      0.000000
75%        0.000000         0.000000      0.000000      0.000000
max        9.000000        79.000000     93.000000    158.300000

           rush_att  ...              x              y              s  \
count  19973.000000  ...  932240.000000  932240.000000  932240.000000
mean       2.179392  ...      60.209773      26.713275       3.201240
std        4.739141  ...      24.336095      11.090074       2.866969
min        0.000000  ...      -4.930000      -7.900000       0.000000
25%        0.000000  ...      41.520000      19.110000       0.870000
50%        0.000000  ...      59.780000      26.710000       2.810000
75%        2.000000  ...      78.770000      34.310000       4.950000
max       35.000000  ...     124.610000      61.870000      27.660000

                   a            dis              o            dir  \
count  932240.000000  932240.000000  868898.000000  868898.000000
mean        1.972199       0.323684     181.659488     179.977144
std         1.576620       0.307267     101.355491     102.865917
min         0.000000       0.000000       0.000000       0.000000
25%         0.720000       0.090000      91.060000      90.340000
50%         1.740000       0.280000     181.430000     180.000000
75%         2.920000       0.490000     271.810000     269.960000
max        32.420000      12.690000     360.000000     360.000000

              nflId   jerseyNumber        frameId
count  8.702010e+05  868898.000000  932240.000000
mean   2.405283e+06      37.324126      35.718766
std    5.473359e+05      24.386377      23.421977
min    2.520000e+02       1.000000       1.000000
25%    2.533056e+06      20.000000      17.000000
50%    2.552448e+06      30.000000      33.000000
75%    2.557927e+06      52.000000      51.000000
max    2.561671e+06      99.000000     166.000000

[8 rows x 304 columns]
             game_id   player_id position              player     team  \
count          19973       76675     19973              19973  1015483
unique           820        2609        28               1019       43
top     202010110sfo  00-0029263        WR  Demarcus Robinson     home
freq              29         200      7904                 57   440680

       Team_abbrev Opponent_abbrev vis_team home_team     OT  ...      event  \
count        19973           19973    19973     19973  19973  ...      70188
unique          32              32       32        32      2  ...         27
top            KAN             KAN      TAM       KAN  False  ...  ball_snap
freq           743             693      709       823  18911  ...      14185

       displayName playDirection   route   birthDate collegeName    gameDate  \
count       933543        932240  258763        1303        1303         253
unique        1302             2      12        1150         251          50
top       Football         right      GO  1989-04-26     Alabama  12/30/2018
freq         63342        478052   46442           4          33          16

       gameTimeEastern homeTeamAbbr  visitorTeamAbbr
count              253          253              253
unique              10           32               32
top           13:00:00          PHI              ATL
freq               136            8                8

[4 rows x 45 columns]

Combine all player data

In [64]:
import pandas as pd

# Load all three datasets (update with the correct paths)
df1 = pd.read_csv('path_to_dataset1.csv')
df2 = pd.read_csv('path_to_dataset2.csv')
df3 = pd.read_csv('path_to_dataset3.csv')

# Function to combine player columns into one 'player' column
def combine_player_columns(df):
    # Combine the columns into one 'player' column, prioritizing non-null values
    df['player'] = df['player_name'].combine_first(df['player']).combine_first(df['displayName'])
    
    # Drop the original player columns after combining
    df = df.drop(columns=['player_name', 'player', 'displayName'], errors='ignore')
    
    return df

# Apply the function to all datasets
df1 = combine_player_columns(df1)
df2 = combine_player_columns(df2)
df3 = combine_player_columns(df3)

# Combine all three datasets into one (if you want to concatenate them vertically)
combined_df = pd.concat([df1, df2, df3], ignore_index=True)

# Now, you have a single dataset with all player data in the 'player' column
print(combined_df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'path_to_dataset1.csv'

Check for missing values

In [37]:
if 'player' in df.columns:
    print("The 'player' column exists!")
else:
    print("The 'player' column does not exist.")
print(df.player)

The 'player' column exists!
0                     Aaron Rodgers
1                       Aaron Jones
2          Marquez Valdes-Scantling
3                     Davante Adams
4                      Jimmy Graham
                     ...
1036273                         NaN
1036274                         NaN
1036275                         NaN
1036276                         NaN
1036277                         NaN
Name: player, Length: 1036278, dtype: object

In [41]:
# Drop rows with NaN values in 'player' column, modifying the original dataframe
df.dropna(subset=['player'], inplace=True)

# Print the first few rows of the cleaned dataframe
print(df.player)

0                   Aaron Rodgers
1                     Aaron Jones
2        Marquez Valdes-Scantling
3                   Davante Adams
4                    Jimmy Graham
                   ...
19968              Brandon Powell
19969                Buddy Howell
19970                 Drew Sample
19971                Trent Taylor
19972             Mitchell Wilcox
Name: player, Length: 19973, dtype: object

In [44]:
df['player'] = df['player'].str.strip().str.lower()
print(df)

            game_id player_id position                     player team  \
0      201909050chi  RodgAa00        QB             aaron rodgers  GNB
1      201909050chi  JoneAa00        RB               aaron jones  GNB
2      201909050chi  ValdMa00        WR  marquez valdes-scantling  GNB
3      201909050chi  AdamDa01        WR             davante adams  GNB
4      201909050chi  GrahJi00        TE              jimmy graham  GNB
...             ...       ...       ...                       ...  ...
19968  202202130cin  PoweBr00        WR            brandon powell  LAR
19969  202202130cin  HoweGr00        RB              buddy howell  LAR
19970  202202130cin  SampDr00        TE               drew sample  CIN
19971  202202130cin  TaylTr02        WR              trent taylor  CIN
19972  202202130cin  WilcMi01        TE           mitchell wilcox  CIN

       pass_cmp  pass_att  pass_yds  pass_td  pass_int  ...  jerseyNumber  \
0          18.0      30.0     203.0      1.0       0.0  ...           NaN
1           0.0       0.0       0.0      0.0       0.0  ...           NaN
2           0.0       0.0       0.0      0.0       0.0  ...           NaN
3           0.0       0.0       0.0      0.0       0.0  ...           NaN
4           0.0       0.0       0.0      0.0       0.0  ...           NaN
...         ...       ...       ...      ...       ...  ...           ...
19968       0.0       0.0       0.0      0.0       0.0  ...           NaN
19969       0.0       0.0       0.0      0.0       0.0  ...           NaN
19970       0.0       0.0       0.0      0.0       0.0  ...           NaN
19971       0.0       0.0       0.0      0.0       0.0  ...           NaN
19972       0.0       0.0       0.0      0.0       0.0  ...           NaN

       frameId  playDirection  route  birthDate  collegeName  gameDate  \
0          NaN            NaN    NaN        NaN          NaN       NaN
1          NaN            NaN    NaN        NaN          NaN       NaN
2          NaN            NaN    NaN        NaN          NaN       NaN
3          NaN            NaN    NaN        NaN          NaN       NaN
4          NaN            NaN    NaN        NaN          NaN       NaN
...        ...            ...    ...        ...          ...       ...
19968      NaN            NaN    NaN        NaN          NaN       NaN
19969      NaN            NaN    NaN        NaN          NaN       NaN
19970      NaN            NaN    NaN        NaN          NaN       NaN
19971      NaN            NaN    NaN        NaN          NaN       NaN
19972      NaN            NaN    NaN        NaN          NaN       NaN

       gameTimeEastern  homeTeamAbbr  visitorTeamAbbr
0                  NaN           NaN              NaN
1                  NaN           NaN              NaN
2                  NaN           NaN              NaN
3                  NaN           NaN              NaN
4                  NaN           NaN              NaN
...                ...           ...              ...
19968              NaN           NaN              NaN
19969              NaN           NaN              NaN
19970              NaN           NaN              NaN
19971              NaN           NaN              NaN
19972              NaN           NaN              NaN

[19973 rows x 349 columns]

In [46]:
# Define a custom aggregation function
aggregation_dict = {}

# For numeric columns, apply 'sum'
numeric_cols = df.select_dtypes(include=['number']).columns
for col in numeric_cols:
    aggregation_dict[col] = 'sum'

# For non-numeric columns, apply 'first'
non_numeric_cols = df.select_dtypes(exclude=['number']).columns
for col in non_numeric_cols:
    aggregation_dict[col] = 'first'  # You can choose other methods like 'last' or 'mode'

# Perform the aggregation without resetting the index (player remains the index)
df_player_aggregated = df.groupby('player').agg(aggregation_dict)

# Print the first few rows of the aggregated data
print(df_player_aggregated.head())

               pass_cmp  pass_att  pass_yds  pass_td  pass_int  pass_sacked  \
player
a.j. brown          0.0       2.0       0.0      0.0       0.0          0.0
a.j. green          0.0       0.0       0.0      0.0       0.0          0.0
a.j. mccarron      22.0      38.0     245.0      0.0       1.0          6.0
aaron brewer        0.0       0.0       0.0      0.0       0.0          0.0
aaron fuller        0.0       0.0       0.0      0.0       0.0          0.0

               pass_sacked_yds  pass_long  pass_rating  rush_att  ...  event  \
player                                                            ...
a.j. brown                 0.0        0.0         79.2       6.0  ...   None
a.j. green                 0.0        0.0          0.0       0.0  ...   None
a.j. mccarron             55.0       41.0        223.5       5.0  ...   None
aaron brewer               0.0        0.0          0.0       0.0  ...   None
aaron fuller               0.0        0.0          0.0       0.0  ...   None

               displayName  playDirection  route  birthDate  collegeName  \
player
a.j. brown            None           None   None       None         None
a.j. green            None           None   None       None         None
a.j. mccarron         None           None   None       None         None
aaron brewer          None           None   None       None         None
aaron fuller          None           None   None       None         None

               gameDate  gameTimeEastern  homeTeamAbbr  visitorTeamAbbr
player
a.j. brown         None             None          None             None
a.j. green         None             None          None             None
a.j. mccarron      None             None          None             None
aaron brewer       None             None          None             None
aaron fuller       None             None          None             None

[5 rows x 349 columns]

In [48]:
# Search for a player (e.g., 'Aaron Rodgers') in the 'player' column
player_name = "Justin Jefferson"
search_results = df_player_aggregated[df_player_aggregated['player'].str.contains(player_name, case=False, na=False)]

# Print the rows that contain the player's name
print(search_results)

                  pass_cmp  pass_att  pass_yds  pass_td  pass_int  \
player
justin jefferson       2.0       4.0      35.0      0.0       0.0

                  pass_sacked  pass_sacked_yds  pass_long  pass_rating  \
player
justin jefferson          0.0              0.0       35.0        310.4

                  rush_att  ...  event  displayName  playDirection  route  \
player                      ...
justin jefferson       7.0  ...   None         None           None   None

                  birthDate  collegeName  gameDate  gameTimeEastern  \
player
justin jefferson       None         None      None             None

                  homeTeamAbbr  visitorTeamAbbr
player
justin jefferson          None             None

[1 rows x 349 columns]

In [49]:
# Find the index of the player with the highest number of touchdowns
top_touchdown_index = df_player_aggregated['touchdown'].idxmax()

# Get the player with the highest number of touchdowns using that index
top_touchdown_player = df_player_aggregated.loc[top_touchdown_index]

# Print the player's name and the number of touchdowns
print("Player with the highest touchdowns:")
print(top_touchdown_player[['player', 'touchdown']])

Player with the highest touchdowns:
player       a.j. brown
touchdown           0.0
Name: a.j. brown, dtype: object

In [52]:
# Converting to datetime.date values
df_player_aggregated['birthDate'] = pd.to_datetime(df_player_aggregated['birthDate']).dt.date

# Extracting the year
df_player_aggregated['birthYear'] = pd.to_datetime(df_player_aggregated['birthDate']).dt.year

# Looking at the first five rows
df_player_aggregated.head()

,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_long,pass_rating,rush_att,...,displayName,playDirection,route,birthDate,collegeName,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,birthYear
player,,,,,,,,,,,,,,,,,,,,,
a.j. brown,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,79.2,6.0,...,None,None,None,NaT,None,None,None,None,None,NaN
a.j. green,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN
a.j. mccarron,22.0,38.0,245.0,0.0,1.0,6.0,55.0,41.0,223.5,5.0,...,None,None,None,NaT,None,None,None,None,None,NaN
aaron brewer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN
aaron fuller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN

In [62]:
if 'player' in df_player_aggregated.columns and 'birthDate' in df_player_aggregated.columns: 
    desmond_trufant = df_player_aggregated[df_player_aggregated['player'].str.contains('Saquon Barkley', case=False, na=False)]

    # Check if any records were found
    if not desmond_trufant.empty:
        print("Saquon Barkley birth date(s):")
        print(desmond_trufant[['player', 'birthDate']])
    else:
            print("Saquon Barkley not found in the dataset.")
else:
    print("The dataset does not have the required columns: 'player' and 'birthDate'.")

Saquon Barkley birth date(s):
                        player birthDate
player
saquon barkley  saquon barkley       NaT

In [63]:
df_player_aggregated.shape

(1019, 350)