# Datasets

https://www.kaggle.com/code/dataranch/offensive-stats-eda-model-comparison/input

https://www.kaggle.com/datasets/philiphyde1/nfl-stats-1999-2022/data

Combined Data

In [40]:
import pandas as pd
import kagglehub
import os

# Load data from GitHub
github_url = "https://raw.githubusercontent.com/salomerivas/app-development/refs/heads/main/nfl_offensive_stats.csv"

try:
    git_df = pd.read_csv(github_url)
    print("Data loaded successfully from GitHub.")
    print(git_df.head())  # Display the first few rows of the loaded data in df_git
except Exception as e:
    print("Failed to load data from GitHub:", e)

# Fetch data from Kaggle API
try:
    path = kagglehub.dataset_download("philiphyde1/nfl-stats-1999-2022")  # Downloads the dataset
    print("Data downloaded from Kaggle to:", path)
except Exception as e:
    print(f"Failed to download data from Kaggle: {e}")

# Get the list of files in the downloaded directory dynamically
downloaded_files = os.listdir(path)

# Read each file dynamically (instead of hardcoding paths)
dataframes = []

for file_name in downloaded_files:
    # Skip non-CSV files like .DS_Store
    if not file_name.endswith('.csv'):
        print(f"Skipping non-CSV file: {file_name}")
        continue
    
    file_path = os.path.join(path, file_name)
    try:
        if '2024_player_predictions' in file_name:
                pred_df = pd.read_csv(file_path)
                print(f"Data loaded successfully from: {file_path} (2024_player_predictions.csv)")
        elif 'weekly_player_data' in file_name:
                week_df = pd.read_csv(file_path)
                print(f"Data loaded successfully from: {file_path} (weekly_player_data.csv)")
        elif 'yearly_player_data' in file_name:
                year_df = pd.read_csv(file_path)
                print(f"Data loaded successfully from: {file_path} (yearly_player_data.csv)")
    except Exception as e:
            print(f"Failed to load data from {file_path}: {e}")

# Check if the specific dataframes are loaded correctly
if pred_df is not None:
    print("2024 Player Predictions DataFrame:")
    print(pred_df.head())
else:
    print("Failed to load 2024_player_predictions.csv")

if week_df is not None:
    print("Weekly Player Data DataFrame:")
    print(week_df.head())
else:
    print("Failed to load weekly_player_data.csv")

if year_df is not None:
    print("Yearly Player Data DataFrame:")
    print(year_df.head())
else:
    print("Failed to load yearly_player_data.csv")

Data loaded successfully from GitHub.
        game_id player_id position                     player team  pass_cmp  \
0  201909050chi  RodgAa00        QB             Aaron Rodgers  GNB        18
1  201909050chi  JoneAa00        RB               Aaron Jones  GNB         0
2  201909050chi  ValdMa00        WR  Marquez Valdes-Scantling  GNB         0
3  201909050chi  AdamDa01        WR             Davante Adams  GNB         0
4  201909050chi  GrahJi00        TE              Jimmy Graham  GNB         0

   pass_att  pass_yds  pass_td  pass_int  ...     OT      Roof  Surface  \
0        30       203        1         0  ...  False  outdoors    grass
1         0         0        0         0  ...  False  outdoors    grass
2         0         0        0         0  ...  False  outdoors    grass
3         0         0        0         0  ...  False  outdoors    grass
4         0         0        0         0  ...  False  outdoors    grass

   Temperature  Humidity  Wind_Speed  Vegas_Line  Vegas_Favorite  Over_Under  \
0           65        69          10        -3.5             CHI        47.0
1           65        69          10        -3.5             CHI        47.0
2           65        69          10        -3.5             CHI        47.0
3           65        69          10        -3.5             CHI        47.0
4           65        69          10        -3.5             CHI        47.0

   game_date
0   9/5/2019
1   9/5/2019
2   9/5/2019
3   9/5/2019
4   9/5/2019

[5 rows x 69 columns]
Data downloaded from Kaggle to: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_player_data.csv (weekly_player_data.csv)
Skipping non-CSV file: .DS_Store
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/2024_player_predictions.csv (2024_player_predictions.csv)
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/yearly_player_data.csv (yearly_player_data.csv)
2024 Player Predictions DataFrame:
  team   player_id   player_name position  depth  draft_year  draft_round  \
0  BUF  00-0034857    Josh Allen       QB      1        2018            1
1  DAL  00-0036358   CeeDee Lamb       WR      1        2020            1
2  DAL  00-0033077  Dak Prescott       QB      1        2016            4
3  MIA  00-0033040   Tyreek Hill       WR      1        2016            5
4  PHI  00-0036389   Jalen Hurts       QB      1        2020            2

   draft_pick  draft_ovr  height  ...  fantasy_points_ppr  \
0           7          7      77  ...              374.48
1          17         17      74  ...              373.00
2          37        135      74  ...              368.36
3          28        165      70  ...              365.90
4          21         53      73  ...              357.16

  position_fantasy_rank  total_fantasy_rank  pass_attempts  complete_pass  \
0                     1                   1            522            322
1                     1                   2              0              0
2                     2                   3            611            391
3                     2                   4              0              0
4                     3                   5            501            303

   incomplete_pass  passing_yards  passing_air_yards  interception  pass_td
0              150           3537               3817            11       25
1                0              0                  0             0        0
2              161           3949               4334             6       29
3                0              0                  0             0        0
4              143           3174               3520             8       20

[5 rows x 35 columns]
Weekly Player Data DataFrame:
  team   player_id player_name position  season  week game_type  \
0  TEN  00-0035676  A.J. Brown       WR    2019     1       REG
1  TEN  00-0035676  A.J. Brown       WR    2019     2       REG
2  TEN  00-0035676  A.J. Brown       WR    2019     3       REG
3  TEN  00-0035676  A.J. Brown       WR    2019     4       REG
4  TEN  00-0035676  A.J. Brown       WR    2019     5       REG

   pass_attempts  complete_pass  incomplete_pass  ...      college  age  wins  \
0            0.0            0.0              0.0  ...  Mississippi   22   1.0
1            0.0            0.0              0.0  ...  Mississippi   22   1.0
2            0.0            0.0              0.0  ...  Mississippi   22   1.0
3            0.0            0.0              0.0  ...  Mississippi   22   2.0
4            0.0            0.0              0.0  ...  Mississippi   22   2.0

   losses  ties  win_pct  opp_wins  opp_losses  opp_ties  opp_win_pct
0     0.0   0.0    1.000       0.0         1.0       0.0        0.000
1     1.0   0.0    0.500       1.0         1.0       0.0        0.500
2     2.0   0.0    0.333       1.0         2.0       0.0        0.333
3     2.0   0.0    0.500       1.0         3.0       0.0        0.250
4     3.0   0.0    0.400       4.0         1.0       0.0        0.800

[5 rows x 66 columns]
Yearly Player Data DataFrame:
  team   player_id player_name position  season  depth  pass_attempts  \
0  TEN  00-0035676  A.J. Brown       WR    2019    2.0            0.0
1  TEN  00-0035676  A.J. Brown       WR    2020    1.0            0.0
2  TEN  00-0035676  A.J. Brown       WR    2021    1.0            2.0
3  PHI  00-0035676  A.J. Brown       WR    2022    1.0            0.0
4  PHI  00-0035676  A.J. Brown       WR    2023    1.0            0.0

   complete_pass  incomplete_pass  passing_yards  ...  vacated_receptions  \
0            0.0              0.0            0.0  ...               147.0
1            0.0              0.0            0.0  ...                62.0
2            0.0              2.0            0.0  ...                74.0
3            0.0              0.0            0.0  ...               135.0
4            0.0              0.0            0.0  ...                47.0

   vacated_receiving_yards  vacated_receiving_air_yards  \
0                   1632.0                       1886.0
1                    730.0                       1015.0
2                    741.0                        804.0
3                   1769.0                       2911.0
4                    471.0                        753.0

   vacated_yards_after_catch  vacated_reception_td  vacated_rush_attempts  \
0                      646.0                   6.0                  185.0
1                      284.0                   4.0                    8.0
2                      331.0                   7.0                   88.0
3                      463.0                  10.0                   83.0
4                      217.0                   6.0                   96.0

   vacated_rushing_yards  vacated_run_td  vacated_touches  vacated_total_yards
0                  656.0             6.0            383.0               2420.0
1                   19.0             0.0            176.0               1338.0
2                  365.0             0.0            345.0               2147.0
3                  397.0             6.0            724.0               4486.0
4                  438.0             3.0            145.0                911.0

[5 rows x 195 columns]

In [41]:
# Inspect columns of each dataset
print(git_df.columns)
print(pred_df.columns)
print(week_df.columns)
print(year_df.columns)

Index(['game_id', 'player_id', 'position ', 'player', 'team', 'pass_cmp',
       'pass_att', 'pass_yds', 'pass_td', 'pass_int', 'pass_sacked',
       'pass_sacked_yds', 'pass_long', 'pass_rating', 'rush_att', 'rush_yds',
       'rush_td', 'rush_long', 'targets', 'rec', 'rec_yds', 'rec_td',
       'rec_long', 'fumbles_lost', 'rush_scrambles', 'designed_rush_att',
       'comb_pass_rush_play', 'comb_pass_play', 'comb_rush_play',
       'Team_abbrev', 'Opponent_abbrev', 'two_point_conv', 'total_ret_td',
       'offensive_fumble_recovery_td', 'pass_yds_bonus', 'rush_yds_bonus',
       'rec_yds_bonus', 'Total_DKP', 'Off_DKP', 'Total_FDP', 'Off_FDP',
       'Total_SDP', 'Off_SDP', 'pass_target_yds', 'pass_poor_throws',
       'pass_blitzed', 'pass_hurried', 'rush_yds_before_contact', 'rush_yac',
       'rush_broken_tackles', 'rec_air_yds', 'rec_yac', 'rec_drops', 'offense',
       'off_pct', 'vis_team', 'home_team', 'vis_score', 'home_score', 'OT',
       'Roof', 'Surface', 'Temperature', 'Humidity', 'Wind_Speed',
       'Vegas_Line', 'Vegas_Favorite', 'Over_Under', 'game_date'],
      dtype='object')
Index(['team', 'player_id', 'player_name', 'position', 'depth', 'draft_year',
       'draft_round', 'draft_pick', 'draft_ovr', 'height', 'weight', 'college',
       'age', 'seasons_played', 'rush_attempts', 'rushing_yards', 'touches',
       'receptions', 'targets', 'receiving_yards', 'yards_after_catch',
       'total_yards', 'total_tds', 'run_td', 'reception_td',
       'fantasy_points_ppr', 'position_fantasy_rank', 'total_fantasy_rank',
       'pass_attempts', 'complete_pass', 'incomplete_pass', 'passing_yards',
       'passing_air_yards', 'interception', 'pass_td'],
      dtype='object')
Index(['team', 'player_id', 'player_name', 'position', 'season', 'week',
       'game_type', 'pass_attempts', 'complete_pass', 'incomplete_pass',
       'passing_yards', 'passing_air_yards', 'pass_td', 'interception',
       'pass_fumble_lost', 'targets', 'receptions', 'receiving_yards',
       'receiving_air_yards', 'yards_after_catch', 'reception_td',
       'reception_fumble_lost', 'rush_attempts', 'rushing_yards', 'run_td',
       'run_fumble_lost', 'fantasy_points_ppr', 'air_yards_share',
       'target_share', 'comp_pct', 'int_pct', 'pass_td_pct', 'ypa',
       'rec_td_pct', 'yptarget', 'ypr', 'rush_td_pct', 'ypc', 'touches',
       'total_tds', 'td_pct', 'total_yards', 'yptouch', 'passer_rating',
       'opponent', 'offense_snaps', 'offense_pct', 'team_snaps', 'team_yards',
       'yards_pct', 'draft_year', 'draft_round', 'draft_pick', 'draft_ovr',
       'height', 'weight', 'college', 'age', 'wins', 'losses', 'ties',
       'win_pct', 'opp_wins', 'opp_losses', 'opp_ties', 'opp_win_pct'],
      dtype='object')
Index(['team', 'player_id', 'player_name', 'position', 'season', 'depth',
       'pass_attempts', 'complete_pass', 'incomplete_pass', 'passing_yards',
       ...
       'vacated_receptions', 'vacated_receiving_yards',
       'vacated_receiving_air_yards', 'vacated_yards_after_catch',
       'vacated_reception_td', 'vacated_rush_attempts',
       'vacated_rushing_yards', 'vacated_run_td', 'vacated_touches',
       'vacated_total_yards'],
      dtype='object', length=195)

In [42]:
# Standardize player column names
git_df.rename(columns={'player': 'Player'}, inplace=True)
pred_df.rename(columns={'player_name': 'Player'}, inplace=True)
week_df.rename(columns={'player_name': 'Player'}, inplace=True)
year_df.rename(columns={'player_name': 'Player'}, inplace=True)

In [46]:
# Inspect columns of each dataset
print(git_df['Player'])
print(pred_df['Player'])
print(week_df['Player'])
print(year_df['Player'])

0                   Aaron Rodgers
1                     Aaron Jones
2        Marquez Valdes-Scantling
3                   Davante Adams
4                    Jimmy Graham
                   ...
19968              Brandon Powell
19969                Buddy Howell
19970                 Drew Sample
19971                Trent Taylor
19972             Mitchell Wilcox
Name: Player, Length: 19973, dtype: object
0        Josh Allen
1       CeeDee Lamb
2      Dak Prescott
3       Tyreek Hill
4       Jalen Hurts
           ...
171     Mo Alie-Cox
172    Luke Farrell
173      Ian Thomas
174    J.K. Dobbins
175    Greg Dulcich
Name: Player, Length: 176, dtype: object
0            A.J. Brown
1            A.J. Brown
2            A.J. Brown
3            A.J. Brown
4            A.J. Brown
              ...
50858    Zonovan Knight
50859    Zonovan Knight
50860    Zonovan Knight
50861    Zonovan Knight
50862    Zonovan Knight
Name: Player, Length: 50863, dtype: object
0           A.J. Brown
1           A.J. Brown
2           A.J. Brown
3           A.J. Brown
4           A.J. Brown
             ...
5658         Zay Jones
5659         Zay Jones
5660         Zay Jones
5661    Zonovan Knight
5662    Zonovan Knight
Name: Player, Length: 5663, dtype: object

In [47]:
# Merge the datasets
merged_df = pd.merge(git_df, pred_df, on='Player', how='outer')
merged_df = pd.merge(merged_df, week_df, on='Player', how='outer')
merged_df = pd.merge(merged_df, year_df, on='Player', how='outer')

MergeError: Passing 'suffixes' which cause duplicate columns {'team_x', 'targets_x', 'pass_td_x', 'player_id_x'} is not allowed.

In [29]:
for file_name in downloaded_files:
    # Skip non-CSV files like .DS_Store
    if not file_name.endswith('.csv'):
        print(f"Skipping non-CSV file: {file_name}")
        continue
    
    file_path = os.path.join(path, file_name)
    try:
        print(f"Loading CSV file: {file_name}")
        df = pd.read_csv(file_path)
        dataframes.append(df)
        print(f"Data loaded successfully from: {file_path}")
    except Exception as e:
        print(f"Failed to load data from {file_path}: {e}")

Loading CSV file: yearly_team_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/yearly_team_data.csv
Loading CSV file: weekly_player_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_player_data.csv
Skipping non-CSV file: .DS_Store
Loading CSV file: 2024_player_predictions.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/2024_player_predictions.csv
Loading CSV file: yearly_player_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/yearly_player_data.csv
Loading CSV file: weekly_team_data.csv
Data loaded successfully from: /Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_team_data.csv

In [30]:
for file_name in downloaded_files:
    file_path = os.path.join(path, file_name)
    try:
        df_temp = pd.read_csv(file_path, encoding='ISO-8859-1')  # Use a different encoding
        print(f"Columns in {file_name}: {df_temp.columns}")
    except Exception as e:
        print(f"Failed to load {file_name}: {e}")

Columns in yearly_team_data.csv: Index(['team', 'season', 'total_snaps', 'yards_gained', 'touchdown',
       'extra_point_attempt', 'field_goal_attempt', 'total_points',
       'td_points', 'xp_points', 'fg_points', 'fumble', 'fumble_lost',
       'shotgun', 'no_huddle', 'qb_dropback', 'pass_snaps_count',
       'pass_snaps_pct', 'pass_attempts', 'complete_pass', 'incomplete_pass',
       'air_yards', 'passing_yards', 'pass_td', 'interception', 'targets',
       'receptions', 'receiving_yards', 'yards_after_catch', 'receiving_td',
       'pass_fumble', 'pass_fumble_lost', 'rush_snaps_count', 'rush_snaps_pct',
       'qb_scramble', 'rushing_yards', 'run_td', 'run_fumble',
       'run_fumble_lost', 'home_wins', 'home_losses', 'home_ties', 'away_wins',
       'away_losses', 'away_ties', 'wins', 'losses', 'ties', 'win_pct',
       'record', 'yps'],
      dtype='object')
Columns in weekly_player_data.csv: Index(['team', 'player_id', 'player_name', 'position', 'season', 'week',
       'game_type', 'pass_attempts', 'complete_pass', 'incomplete_pass',
       'passing_yards', 'passing_air_yards', 'pass_td', 'interception',
       'pass_fumble_lost', 'targets', 'receptions', 'receiving_yards',
       'receiving_air_yards', 'yards_after_catch', 'reception_td',
       'reception_fumble_lost', 'rush_attempts', 'rushing_yards', 'run_td',
       'run_fumble_lost', 'fantasy_points_ppr', 'air_yards_share',
       'target_share', 'comp_pct', 'int_pct', 'pass_td_pct', 'ypa',
       'rec_td_pct', 'yptarget', 'ypr', 'rush_td_pct', 'ypc', 'touches',
       'total_tds', 'td_pct', 'total_yards', 'yptouch', 'passer_rating',
       'opponent', 'offense_snaps', 'offense_pct', 'team_snaps', 'team_yards',
       'yards_pct', 'draft_year', 'draft_round', 'draft_pick', 'draft_ovr',
       'height', 'weight', 'college', 'age', 'wins', 'losses', 'ties',
       'win_pct', 'opp_wins', 'opp_losses', 'opp_ties', 'opp_win_pct'],
      dtype='object')
Columns in .DS_Store: Index(['Unnamed: 0'], dtype='object')
Columns in 2024_player_predictions.csv: Index(['team', 'player_id', 'player_name', 'position', 'depth', 'draft_year',
       'draft_round', 'draft_pick', 'draft_ovr', 'height', 'weight', 'college',
       'age', 'seasons_played', 'rush_attempts', 'rushing_yards', 'touches',
       'receptions', 'targets', 'receiving_yards', 'yards_after_catch',
       'total_yards', 'total_tds', 'run_td', 'reception_td',
       'fantasy_points_ppr', 'position_fantasy_rank', 'total_fantasy_rank',
       'pass_attempts', 'complete_pass', 'incomplete_pass', 'passing_yards',
       'passing_air_yards', 'interception', 'pass_td'],
      dtype='object')
Columns in yearly_player_data.csv: Index(['team', 'player_id', 'player_name', 'position', 'season', 'depth',
       'pass_attempts', 'complete_pass', 'incomplete_pass', 'passing_yards',
       ...
       'vacated_receptions', 'vacated_receiving_yards',
       'vacated_receiving_air_yards', 'vacated_yards_after_catch',
       'vacated_reception_td', 'vacated_rush_attempts',
       'vacated_rushing_yards', 'vacated_run_td', 'vacated_touches',
       'vacated_total_yards'],
      dtype='object', length=195)
Columns in weekly_team_data.csv: Index(['team', 'season', 'week', 'total_snaps', 'yards_gained', 'touchdown',
       'extra_point_attempt', 'field_goal_attempt', 'total_points',
       'td_points', 'xp_points', 'fg_points', 'fumble', 'fumble_lost',
       'shotgun', 'no_huddle', 'qb_dropback', 'pass_snaps_count',
       'pass_snaps_pct', 'pass_attempts', 'complete_pass', 'incomplete_pass',
       'air_yards', 'passing_yards', 'pass_td', 'interception', 'targets',
       'receptions', 'receiving_yards', 'yards_after_catch', 'receiving_td',
       'pass_fumble', 'pass_fumble_lost', 'rush_snaps_count', 'rush_snaps_pct',
       'qb_scramble', 'rushing_yards', 'run_td', 'run_fumble',
       'run_fumble_lost', 'wins', 'losses', 'ties', 'win_pct', 'yps'],
      dtype='object')

In [31]:
# Filter out non-CSV files (e.g., .DS_Store)
csv_files = [file for file in downloaded_files if file.endswith('.csv')]

# Iterate through each CSV file and check if 'player_name' column exists
for file_name in csv_files:
    file_path = os.path.join(path, file_name)
    
    try:
        # Read the CSV file
        df = pd.read_csv(file_path, encoding='ISO-8859-1')
        
        # Check if 'player_name' column exists
        if 'player_name' in df.columns:
            print(f"'{file_name}' contains the 'player_name' column.")
        else:
            print(f"'{file_name}' does NOT contain the 'player_name' column.")
    
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

'yearly_team_data.csv' does NOT contain the 'player_name' column.
'weekly_player_data.csv' contains the 'player_name' column.
'2024_player_predictions.csv' contains the 'player_name' column.
'yearly_player_data.csv' contains the 'player_name' column.
'weekly_team_data.csv' does NOT contain the 'player_name' column.

In [32]:
# Filter out non-CSV files (e.g., .DS_Store)
csv_files = [file for file in downloaded_files if file.endswith('.csv')]

# Iterate through each CSV file and check if 'player_name' column exists
for file_name in csv_files:
    file_path = os.path.join(path, file_name)
    
    try:
        # Read the CSV file
        df = pd.read_csv(file_path, encoding='ISO-8859-1')
        
        # Check if 'player_name' column exists
        if 'touchdown' in df.columns:
            print(f"'{file_name}' contains the 'touchdown' column.")
        else:
            print(f"'{file_name}' does NOT contain the 'touchdown' column.")
    
    except Exception as e:
        print(f"Error reading {file_name}: {e}")

'yearly_team_data.csv' contains the 'touchdown' column.
'weekly_player_data.csv' does NOT contain the 'touchdown' column.
'2024_player_predictions.csv' does NOT contain the 'touchdown' column.
'yearly_player_data.csv' does NOT contain the 'touchdown' column.
'weekly_team_data.csv' contains the 'touchdown' column.

In [33]:
df

,team,season,week,total_snaps,yards_gained,touchdown,extra_point_attempt,field_goal_attempt,total_points,td_points,...,qb_scramble,rushing_yards,run_td,run_fumble,run_fumble_lost,wins,losses,ties,win_pct,yps
0,ARI,2012,1,56,469.0,2.0,2.0,2.0,20.0,12.0,...,1.0,44.0,1.0,1.0,1.0,1.0,0.0,0.0,1.000,8.38
1,ARI,2012,2,60,383.0,2.0,2.0,2.0,20.0,12.0,...,1.0,103.0,1.0,1.0,1.0,2.0,0.0,0.0,1.000,6.38
2,ARI,2012,3,59,515.0,2.0,3.0,2.0,21.0,12.0,...,2.0,100.0,0.0,0.0,0.0,3.0,0.0,0.0,1.000,8.73
3,ARI,2012,4,71,621.0,3.0,3.0,1.0,24.0,18.0,...,0.0,28.0,0.0,0.0,0.0,4.0,0.0,0.0,1.000,8.75
4,ARI,2012,5,76,571.0,0.0,0.0,1.0,3.0,0.0,...,0.0,45.0,0.0,0.0,0.0,4.0,1.0,0.0,0.800,7.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6179,WAS,2023,13,55,374.0,3.0,1.0,0.0,19.0,18.0,...,3.0,138.0,2.0,0.0,0.0,4.0,9.0,0.0,0.308,6.80
6180,WAS,2023,15,58,523.0,3.0,2.0,0.0,20.0,18.0,...,4.0,79.0,0.0,1.0,0.0,4.0,10.0,0.0,0.286,9.02
6181,WAS,2023,16,58,401.0,4.0,4.0,0.0,28.0,24.0,...,1.0,102.0,3.0,0.0,0.0,4.0,11.0,0.0,0.267,6.91
6182,WAS,2023,17,43,394.0,1.0,1.0,1.0,10.0,6.0,...,0.0,62.0,0.0,0.0,0.0,4.0,12.0,0.0,0.250,9.16
6183,WAS,2023,18,48,338.0,1.0,1.0,1.0,10.0,6.0,...,1.0,51.0,0.0,1.0,1.0,4.0,13.0,0.0,0.235,7.04

Overview of the Dataset

In [34]:
import pandas as pd

# Check the shape
print("Dataset Shape:", df.shape)

print(df.head())

print(df.tail())

# List the column names
print(df.columns)

# Check data types for each column
print(df.dtypes)

Dataset Shape: (6184, 45)
  team  season  week  total_snaps  yards_gained  touchdown  \
0  ARI    2012     1           56         469.0        2.0
1  ARI    2012     2           60         383.0        2.0
2  ARI    2012     3           59         515.0        2.0
3  ARI    2012     4           71         621.0        3.0
4  ARI    2012     5           76         571.0        0.0

   extra_point_attempt  field_goal_attempt  total_points  td_points  ...  \
0                  2.0                 2.0          20.0       12.0  ...
1                  2.0                 2.0          20.0       12.0  ...
2                  3.0                 2.0          21.0       12.0  ...
3                  3.0                 1.0          24.0       18.0  ...
4                  0.0                 1.0           3.0        0.0  ...

   qb_scramble  rushing_yards  run_td  run_fumble  run_fumble_lost  wins  \
0          1.0           44.0     1.0         1.0              1.0   1.0
1          1.0          103.0     1.0         1.0              1.0   2.0
2          2.0          100.0     0.0         0.0              0.0   3.0
3          0.0           28.0     0.0         0.0              0.0   4.0
4          0.0           45.0     0.0         0.0              0.0   4.0

   losses  ties  win_pct   yps
0     0.0   0.0      1.0  8.38
1     0.0   0.0      1.0  6.38
2     0.0   0.0      1.0  8.73
3     0.0   0.0      1.0  8.75
4     1.0   0.0      0.8  7.51

[5 rows x 45 columns]
     team  season  week  total_snaps  yards_gained  touchdown  \
6179  WAS    2023    13           55         374.0        3.0
6180  WAS    2023    15           58         523.0        3.0
6181  WAS    2023    16           58         401.0        4.0
6182  WAS    2023    17           43         394.0        1.0
6183  WAS    2023    18           48         338.0        1.0

      extra_point_attempt  field_goal_attempt  total_points  td_points  ...  \
6179                  1.0                 0.0          19.0       18.0  ...
6180                  2.0                 0.0          20.0       18.0  ...
6181                  4.0                 0.0          28.0       24.0  ...
6182                  1.0                 1.0          10.0        6.0  ...
6183                  1.0                 1.0          10.0        6.0  ...

      qb_scramble  rushing_yards  run_td  run_fumble  run_fumble_lost  wins  \
6179          3.0          138.0     2.0         0.0              0.0   4.0
6180          4.0           79.0     0.0         1.0              0.0   4.0
6181          1.0          102.0     3.0         0.0              0.0   4.0
6182          0.0           62.0     0.0         0.0              0.0   4.0
6183          1.0           51.0     0.0         1.0              1.0   4.0

      losses  ties  win_pct   yps
6179     9.0   0.0    0.308  6.80
6180    10.0   0.0    0.286  9.02
6181    11.0   0.0    0.267  6.91
6182    12.0   0.0    0.250  9.16
6183    13.0   0.0    0.235  7.04

[5 rows x 45 columns]
Index(['team', 'season', 'week', 'total_snaps', 'yards_gained', 'touchdown',
       'extra_point_attempt', 'field_goal_attempt', 'total_points',
       'td_points', 'xp_points', 'fg_points', 'fumble', 'fumble_lost',
       'shotgun', 'no_huddle', 'qb_dropback', 'pass_snaps_count',
       'pass_snaps_pct', 'pass_attempts', 'complete_pass', 'incomplete_pass',
       'air_yards', 'passing_yards', 'pass_td', 'interception', 'targets',
       'receptions', 'receiving_yards', 'yards_after_catch', 'receiving_td',
       'pass_fumble', 'pass_fumble_lost', 'rush_snaps_count', 'rush_snaps_pct',
       'qb_scramble', 'rushing_yards', 'run_td', 'run_fumble',
       'run_fumble_lost', 'wins', 'losses', 'ties', 'win_pct', 'yps'],
      dtype='object')
team                    object
season                   int64
week                     int64
total_snaps              int64
yards_gained           float64
touchdown              float64
extra_point_attempt    float64
field_goal_attempt     float64
total_points           float64
td_points              float64
xp_points              float64
fg_points              float64
fumble                 float64
fumble_lost            float64
shotgun                float64
no_huddle              float64
qb_dropback            float64
pass_snaps_count         int64
pass_snaps_pct         float64
pass_attempts          float64
complete_pass          float64
incomplete_pass        float64
air_yards              float64
passing_yards          float64
pass_td                float64
interception           float64
targets                float64
receptions             float64
receiving_yards        float64
yards_after_catch      float64
receiving_td           float64
pass_fumble            float64
pass_fumble_lost       float64
rush_snaps_count         int64
rush_snaps_pct         float64
qb_scramble            float64
rushing_yards          float64
run_td                 float64
run_fumble             float64
run_fumble_lost        float64
wins                   float64
losses                 float64
ties                   float64
win_pct                float64
yps                    float64
dtype: object

Statistics

In [35]:
# Summary statistics for numerical columns
print(df.describe())

# Summary statistics for categorical columns
print(df.describe(include=['object']))

            season         week  total_snaps  yards_gained    touchdown  \
count  6184.000000  6184.000000  6184.000000   6184.000000  6184.000000
mean   2017.565492     9.159929    63.123706    597.426423     2.586352
std       3.472204     5.085757     8.490430    149.066030     1.415807
min    2012.000000     1.000000    34.000000    115.000000     0.000000
25%    2015.000000     5.000000    57.000000    491.000000     2.000000
50%    2018.000000     9.000000    63.000000    592.000000     2.000000
75%    2021.000000    14.000000    69.000000    697.000000     3.000000
max    2023.000000    18.000000    95.000000   1180.000000    10.000000

       extra_point_attempt  field_goal_attempt  total_points    td_points  \
count          6184.000000         6184.000000   6184.000000  6184.000000
mean              2.264877            1.651197     22.736578    15.518111
std               1.455920            1.203305      9.505311     8.494844
min               0.000000            0.000000      1.000000     0.000000
25%               1.000000            1.000000     16.000000    12.000000
50%               2.000000            2.000000     23.000000    12.000000
75%               3.000000            2.000000     29.000000    18.000000
max              10.000000            7.000000     70.000000    60.000000

         xp_points  ...  qb_scramble  rushing_yards       run_td   run_fumble  \
count  6184.000000  ...  6184.000000    6184.000000  6184.000000  6184.000000
mean      2.264877  ...     1.532018     114.882277     0.866268     0.425776
std       1.455920  ...     1.574279      51.401884     0.932321     0.666901
min       0.000000  ...     0.000000       0.000000     0.000000     0.000000
25%       1.000000  ...     0.000000      78.000000     0.000000     0.000000
50%       2.000000  ...     1.000000     108.000000     1.000000     0.000000
75%       3.000000  ...     2.000000     145.000000     1.000000     1.000000
max      10.000000  ...    11.000000     404.000000     7.000000     6.000000

       run_fumble_lost         wins       losses         ties      win_pct  \
count      6184.000000  6184.000000  6184.000000  6184.000000  6184.000000
mean          0.185155     4.300453     4.321475     0.043984     0.497120
std           0.431832     3.064875     3.075809     0.205077     0.258518
min           0.000000     0.000000     0.000000     0.000000     0.000000
25%           0.000000     2.000000     2.000000     0.000000     0.333000
50%           0.000000     4.000000     4.000000     0.000000     0.500000
75%           0.000000     6.000000     6.000000     0.000000     0.667000
max           3.000000    15.000000    16.000000     1.000000     1.000000

               yps
count  6184.000000
mean      9.469563
std       2.080089
min       2.740000
25%       8.020000
50%       9.360000
75%      10.790000
max      19.350000

[8 rows x 44 columns]
        team
count   6184
unique    32
top      PIT
freq     195

Combine the data for players into just one player column and just one row of data per player

In [36]:
# Check if a specific column exists
column_name = 'player_name'  # replace with the column you're searching for

if column_name in df.columns:
    print(f"'{column_name}' column exists in the DataFrame.")
else:
    print(f"'{column_name}' column does not exist in the DataFrame.")

'player_name' column does not exist in the DataFrame.

Check for missing values

In [37]:
if 'players' in df.columns:
    print("The 'players' column exists!")
else:
    print("The 'players' column does not exist.")
print(df.players)

The 'players' column does not exist.

AttributeError: 'DataFrame' object has no attribute 'players'

In [ ]:
# Drop rows with NaN values in 'players' column, modifying the original dataframe
df.dropna(subset=['players'], inplace=True)

# Print the first few rows of the cleaned dataframe
print(df.players)

0                   Aaron Rodgers
1                     Aaron Jones
2        Marquez Valdes-Scantling
3                   Davante Adams
4                    Jimmy Graham
                   ...
77054                   Zay Jones
77055                   Zay Jones
77056                   Zay Jones
77057              Zonovan Knight
77058              Zonovan Knight
Name: players, Length: 76675, dtype: object

In [ ]:
df['players'] = df['players'].str.strip().str.lower()
print(df.players)

0                   aaron rodgers
1                     aaron jones
2        marquez valdes-scantling
3                   davante adams
4                    jimmy graham
                   ...
77054                   zay jones
77055                   zay jones
77056                   zay jones
77057              zonovan knight
77058              zonovan knight
Name: players, Length: 76675, dtype: object

In [ ]:
# Define the player name to search for
player_name = "a.j. brown"

# Search for the player in the 'players' column by checking if the player's name exists
search_results = df[df['players'].str.contains(player_name, case=False, na=False)]

# Print the rows that contain the player's name
print(search_results)

            game_id   player_id position  team  pass_cmp  pass_att  pass_yds  \
56     201909080cle    BrowAJ00        WR  TEN       0.0       0.0       0.0
620    201909150oti    BrowAJ00        WR  TEN       0.0       0.0       0.0
766    201909190jax    BrowAJ00        WR  TEN       0.0       0.0       0.0
1171   201909290atl    BrowAJ00        WR  TEN       0.0       0.0       0.0
1670   201910060oti    BrowAJ00        WR  TEN       0.0       0.0       0.0
...             ...         ...       ...  ...       ...       ...       ...
71396           NaN  00-0035676       NaN  TEN       NaN       NaN       NaN
71397           NaN  00-0035676       NaN  TEN       NaN       NaN       NaN
71398           NaN  00-0035676       NaN  TEN       NaN       NaN       NaN
71399           NaN  00-0035676       NaN  PHI       NaN       NaN       NaN
71400           NaN  00-0035676       NaN  PHI       NaN       NaN       NaN

       pass_td  pass_int  pass_sacked  ...  vacated_receiving_yards  \
56         0.0       0.0          0.0  ...                      NaN
620        0.0       0.0          0.0  ...                      NaN
766        0.0       0.0          0.0  ...                      NaN
1171       0.0       0.0          0.0  ...                      NaN
1670       0.0       0.0          0.0  ...                      NaN
...        ...       ...          ...  ...                      ...
71396      0.0       NaN          NaN  ...                   1632.0
71397      0.0       NaN          NaN  ...                    730.0
71398      0.0       NaN          NaN  ...                    741.0
71399      0.0       NaN          NaN  ...                   1769.0
71400      0.0       NaN          NaN  ...                    471.0

       vacated_receiving_air_yards  vacated_yards_after_catch  \
56                             NaN                        NaN
620                            NaN                        NaN
766                            NaN                        NaN
1171                           NaN                        NaN
1670                           NaN                        NaN
...                            ...                        ...
71396                       1886.0                      646.0
71397                       1015.0                      284.0
71398                        804.0                      331.0
71399                       2911.0                      463.0
71400                        753.0                      217.0

       vacated_reception_td  vacated_rush_attempts  vacated_rushing_yards  \
56                      NaN                    NaN                    NaN
620                     NaN                    NaN                    NaN
766                     NaN                    NaN                    NaN
1171                    NaN                    NaN                    NaN
1670                    NaN                    NaN                    NaN
...                     ...                    ...                    ...
71396                   6.0                  185.0                  656.0
71397                   4.0                    8.0                   19.0
71398                   7.0                   88.0                  365.0
71399                  10.0                   83.0                  397.0
71400                   6.0                   96.0                  438.0

       vacated_run_td  vacated_touches  vacated_total_yards     players
56                NaN              NaN                  NaN  a.j. brown
620               NaN              NaN                  NaN  a.j. brown
766               NaN              NaN                  NaN  a.j. brown
1171              NaN              NaN                  NaN  a.j. brown
1670              NaN              NaN                  NaN  a.j. brown
...               ...              ...                  ...         ...
71396             6.0            383.0               2420.0  a.j. brown
71397             0.0            176.0               1338.0  a.j. brown
71398             0.0            345.0               2147.0  a.j. brown
71399             6.0            724.0               4486.0  a.j. brown
71400             3.0            145.0                911.0  a.j. brown

[128 rows x 300 columns]

In [ ]:
# Group by 'players' and combine rows for each player, using a list to keep all values
df_grouped = df.groupby('players').agg(lambda x: list(x))

# Step 1: Flatten the lists by exploding the DataFrame
df_flattened = df_grouped.apply(lambda x: x.explode() if isinstance(x, pd.Series) else x)

# Step 2: Reset the index to get a flat DataFrame
df_flattened = df_flattened.reset_index()

# Step 3: Check the result
print(df_flattened)

              players       game_id   player_id position  team pass_cmp  \
0          a.j. brown  201909080cle    BrowAJ00        WR  TEN      0.0
1          a.j. brown  201909150oti    BrowAJ00        WR  TEN      0.0
2          a.j. brown  201909190jax    BrowAJ00        WR  TEN      0.0
3          a.j. brown  201909290atl    BrowAJ00        WR  TEN      0.0
4          a.j. brown  201910060oti    BrowAJ00        WR  TEN      0.0
...               ...           ...         ...       ...  ...      ...
76670  zonovan knight           NaN  00-0037157       NaN  NYJ      NaN
76671  zonovan knight           NaN  00-0037157       NaN  NYJ      NaN
76672  zonovan knight           NaN  00-0037157       NaN  DET      NaN
76673  zonovan knight           NaN  00-0037157       NaN  NYJ      NaN
76674  zonovan knight           NaN  00-0037157       NaN  DET      NaN

      pass_att pass_yds pass_td pass_int  ... vacated_receptions  \
0          0.0      0.0     0.0      0.0  ...                NaN
1          0.0      0.0     0.0      0.0  ...                NaN
2          0.0      0.0     0.0      0.0  ...                NaN
3          0.0      0.0     0.0      0.0  ...                NaN
4          0.0      0.0     0.0      0.0  ...                NaN
...        ...      ...     ...      ...  ...                ...
76670      NaN      NaN     0.0      NaN  ...                NaN
76671      NaN      NaN     0.0      NaN  ...                NaN
76672      NaN      NaN     0.0      NaN  ...                NaN
76673      NaN      NaN     0.0      NaN  ...              101.0
76674      NaN      NaN     0.0      NaN  ...              101.0

      vacated_receiving_yards vacated_receiving_air_yards  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN
...                       ...                         ...
76670                     NaN                         NaN
76671                     NaN                         NaN
76672                     NaN                         NaN
76673                  1044.0                      1525.0
76674                   979.0                      1168.0

      vacated_yards_after_catch vacated_reception_td vacated_rush_attempts  \
0                           NaN                  NaN                   NaN
1                           NaN                  NaN                   NaN
2                           NaN                  NaN                   NaN
3                           NaN                  NaN                   NaN
4                           NaN                  NaN                   NaN
...                         ...                  ...                   ...
76670                       NaN                  NaN                   NaN
76671                       NaN                  NaN                   NaN
76672                       NaN                  NaN                   NaN
76673                     433.0                  7.0                 248.0
76674                     407.0                  5.0                  35.0

      vacated_rushing_yards vacated_run_td vacated_touches vacated_total_yards
0                       NaN            NaN             NaN                 NaN
1                       NaN            NaN             NaN                 NaN
2                       NaN            NaN             NaN                 NaN
3                       NaN            NaN             NaN                 NaN
4                       NaN            NaN             NaN                 NaN
...                     ...            ...             ...                 ...
76670                   NaN            NaN             NaN                 NaN
76671                   NaN            NaN             NaN                 NaN
76672                   NaN            NaN             NaN                 NaN
76673                1052.0            6.0           747.0              4072.0
76674                 212.0            3.0           232.0              1713.0

[76675 rows x 300 columns]

In [ ]:
# Define the player name to search for
player_name = "Justin Jefferson"

# Search for the player in the 'players' column by checking if the player's name exists
search_results = df_flattened[df_flattened['players'].str.contains(player_name, case=False, na=False)]

# Print the rows that contain the player's name
print(search_results)

                players       game_id   player_id position  team pass_cmp  \
43600  justin jefferson  202009130min    JeffJu00        WR  MIN      0.0
43601  justin jefferson  202009200clt    JeffJu00        WR  MIN      0.0
43602  justin jefferson  202009270min    JeffJu00        WR  MIN      0.0
43603  justin jefferson  202010040htx    JeffJu00        WR  MIN      0.0
43604  justin jefferson  202010110sea    JeffJu00        WR  MIN      0.0
...                 ...           ...         ...       ...  ...      ...
43690  justin jefferson           NaN  00-0036322       NaN  MIN      NaN
43691  justin jefferson           NaN  00-0036322       NaN  MIN      NaN
43692  justin jefferson           NaN  00-0036322       NaN  MIN      NaN
43693  justin jefferson           NaN  00-0036322       NaN  MIN      NaN
43694  justin jefferson           NaN  00-0036322       NaN  MIN      NaN

      pass_att pass_yds pass_td pass_int  ... vacated_receptions  \
43600      0.0      0.0     0.0      0.0  ...                NaN
43601      0.0      0.0     0.0      0.0  ...                NaN
43602      0.0      0.0     0.0      0.0  ...                NaN
43603      0.0      0.0     0.0      0.0  ...                NaN
43604      0.0      0.0     0.0      0.0  ...                NaN
...        ...      ...     ...      ...  ...                ...
43690      NaN      NaN     0.0      NaN  ...                NaN
43691      NaN      NaN     0.0      NaN  ...               47.0
43692      NaN      NaN     0.0      NaN  ...               74.0
43693      NaN      NaN     0.0      NaN  ...              102.0
43694      NaN      NaN     0.0      NaN  ...               82.0

      vacated_receiving_yards vacated_receiving_air_yards  \
43600                     NaN                         NaN
43601                     NaN                         NaN
43602                     NaN                         NaN
43603                     NaN                         NaN
43604                     NaN                         NaN
...                       ...                         ...
43690                     NaN                         NaN
43691                   454.0                       702.0
43692                  1356.0                      1664.0
43693                  1161.0                      1103.0
43694                   829.0                       737.0

      vacated_yards_after_catch vacated_reception_td vacated_rush_attempts  \
43600                       NaN                  NaN                   NaN
43601                       NaN                  NaN                   NaN
43602                       NaN                  NaN                   NaN
43603                       NaN                  NaN                   NaN
43604                       NaN                  NaN                   NaN
...                         ...                  ...                   ...
43690                       NaN                  NaN                   NaN
43691                     204.0                  5.0                 148.0
43692                     361.0                  7.0                   6.0
43693                     492.0                 10.0                  19.0
43694                     397.0                  6.0                   2.0

      vacated_rushing_yards vacated_run_td vacated_touches vacated_total_yards
43600                   NaN            NaN             NaN                 NaN
43601                   NaN            NaN             NaN                 NaN
43602                   NaN            NaN             NaN                 NaN
43603                   NaN            NaN             NaN                 NaN
43604                   NaN            NaN             NaN                 NaN
...                     ...            ...             ...                 ...
43690                   NaN            NaN             NaN                 NaN
43691                 608.0            6.0           195.0              1062.0
43692                  61.0            0.0           102.0              1543.0
43693                 101.0            1.0           121.0              1262.0
43694                  14.0            0.0           125.0              1022.0

[95 rows x 300 columns]

In [ ]:
# Normalize the 'players' column by stripping whitespace and converting to lowercase
df_flattened['players'] = df_flattened['players'].str.strip().str.lower()

# Now search for the player (with normalized name)
player_name = "justin jefferson".lower()  # Make sure the search is also in lowercase
justin_jefferson_data = df_flattened[df_flattened['players'] == player_name]

# Display the 'touchdown' and 'pass_td' columns for Justin Jefferson
if 'touchdown' in justin_jefferson_data.columns and 'pass_td' in justin_jefferson_data.columns:
    justin_jefferson_touchdowns = justin_jefferson_data[['touchdown', 'pass_td']]
    print(justin_jefferson_touchdowns)
else:
    print("The columns 'touchdown' or 'pass_td' are not present in the data for Justin Jefferson.")

      touchdown pass_td
43600       NaN     0.0
43601       NaN     0.0
43602       NaN     0.0
43603       NaN     0.0
43604       NaN     0.0
...         ...     ...
43690       NaN     0.0
43691       NaN     0.0
43692       NaN     0.0
43693       NaN     0.0
43694       NaN     0.0

[95 rows x 2 columns]

Combine the data of touchdowns from both datasets

In [ ]:
# Load datasets (update paths as necessary)
df1 = pd.read_csv('/Users/salomerivas/.cache/kagglehub/datasets/philiphyde1/nfl-stats-1999-2022/versions/10/weekly_player_data.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/salomerivas/app-development/refs/heads/main/nfl_offensive_stats.csv')

# Function to rename touchdown-related columns to a consistent 'touchdown' column
def rename_touchdown_column(df):
    # Rename touchdown-related columns to 'touchdown'
    if 'pass_td' in df.columns:
        df = df.rename(columns={'pass_td': 'touchdown'})
    elif 'touchdown' in df.columns:
        # Already has 'touchdown', no renaming needed
        pass
    else:
        print("Warning: No touchdown-related column found in this dataframe.")
    
    return df

# Apply the function to both datasets
df1 = rename_touchdown_column(df1)
df2 = rename_touchdown_column(df2)

# Combine both datasets into one (concatenate them vertically)
touchdown_combined_df = pd.concat([df1, df2], ignore_index=True)

# Now, you have a single dataset with all touchdown data in the 'touchdown' column
print(touchdown_combined_df.head())

  team   player_id player_name position  season  week game_type  \
0  TEN  00-0035676  A.J. Brown       WR  2019.0   1.0       REG
1  TEN  00-0035676  A.J. Brown       WR  2019.0   2.0       REG
2  TEN  00-0035676  A.J. Brown       WR  2019.0   3.0       REG
3  TEN  00-0035676  A.J. Brown       WR  2019.0   4.0       REG
4  TEN  00-0035676  A.J. Brown       WR  2019.0   5.0       REG

   pass_attempts  complete_pass  incomplete_pass  ...   OT  Roof  Surface  \
0            0.0            0.0              0.0  ...  NaN   NaN      NaN
1            0.0            0.0              0.0  ...  NaN   NaN      NaN
2            0.0            0.0              0.0  ...  NaN   NaN      NaN
3            0.0            0.0              0.0  ...  NaN   NaN      NaN
4            0.0            0.0              0.0  ...  NaN   NaN      NaN

   Temperature  Humidity  Wind_Speed  Vegas_Line  Vegas_Favorite  Over_Under  \
0          NaN       NaN         NaN         NaN             NaN         NaN
1          NaN       NaN         NaN         NaN             NaN         NaN
2          NaN       NaN         NaN         NaN             NaN         NaN
3          NaN       NaN         NaN         NaN             NaN         NaN
4          NaN       NaN         NaN         NaN             NaN         NaN

   game_date
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

[5 rows x 131 columns]

In [ ]:
# Find the index of the player with the highest number of touchdowns
top_touchdown_index = df_player_aggregated['touchdown'].idxmax()

# Get the player with the highest number of touchdowns using that index
top_touchdown_player = df_player_aggregated.loc[top_touchdown_index]

# Print the player's name and the number of touchdowns
print("Player with the highest touchdowns:")
print(top_touchdown_player[['player', 'touchdown']])

NameError: name 'df_player_aggregated' is not defined

In [ ]:
# Converting to datetime.date values
df_player_aggregated['birthDate'] = pd.to_datetime(df_player_aggregated['birthDate']).dt.date

# Extracting the year
df_player_aggregated['birthYear'] = pd.to_datetime(df_player_aggregated['birthDate']).dt.year

# Looking at the first five rows
df_player_aggregated.head()

,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_long,pass_rating,rush_att,...,displayName,playDirection,route,birthDate,collegeName,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,birthYear
player,,,,,,,,,,,,,,,,,,,,,
a.j. brown,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,79.2,6.0,...,None,None,None,NaT,None,None,None,None,None,NaN
a.j. green,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN
a.j. mccarron,22.0,38.0,245.0,0.0,1.0,6.0,55.0,41.0,223.5,5.0,...,None,None,None,NaT,None,None,None,None,None,NaN
aaron brewer,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN
aaron fuller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,None,None,None,NaT,None,None,None,None,None,NaN

In [ ]:
if 'player' in df_player_aggregated.columns and 'birthDate' in df_player_aggregated.columns: 
    desmond_trufant = df_player_aggregated[df_player_aggregated['player'].str.contains('Saquon Barkley', case=False, na=False)]

    # Check if any records were found
    if not desmond_trufant.empty:
        print("Saquon Barkley birth date(s):")
        print(desmond_trufant[['player', 'birthDate']])
    else:
            print("Saquon Barkley not found in the dataset.")
else:
    print("The dataset does not have the required columns: 'player' and 'birthDate'.")

Saquon Barkley birth date(s):
                        player birthDate
player
saquon barkley  saquon barkley       NaT

In [ ]:
df_player_aggregated.shape

(1019, 350)